<div class="accordion accordion-flush" id="accordionFlushExample3">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne3" aria-expanded="false" aria-controls="flush-collapseOne">
        Descrizione del prodotto
      </button>
    </h2>
    <div id="flush-collapseOne3" class="accordion-collapse collapse animate__animated animate__bounce ps-1" data-bs-parent="#accordionFlushExample">
      <h2>
        DOMANDA
      </h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex, dolorem quod! Deleniti dignissimos assumenda iure dolorum laboriosam quaerat et sit! Rem molestias beatae, repudiandae esse porro tempore ut vel perspiciatis.
      </p>
      <h2>
        DOMANDA
      </h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex, dolorem quod! Deleniti dignissimos assumenda iure dolorum laboriosam quaerat et sit! Rem molestias beatae, repudiandae esse porro tempore ut vel perspiciatis.
      </p>
      <h2>
        DOMANDA
      </h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex, dolorem quod! Deleniti dignissimos assumenda iure dolorum laboriosam quaerat et sit! Rem molestias beatae, repudiandae esse porro tempore ut vel perspiciatis.
      </p>
     </div>
  </div>
</div>
<!-- Bottoni di Azione -->
<div class="buttons-container">
  <button class="btn add-review" (click)="addReview()">AGGIUNGI DOMANDA</button>
  <button class="btn see-all" (click)="seeAllReviews()">VEDI TUTTO</button>
</div>
