  <div class="accordion accordion-flush" id="accordionFlushExample1">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Descrizione del prodotto
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse animate__animated animate__bounce ps-1" data-bs-parent="#accordionFlushExample">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex, dolorem quod! Deleniti dignissimos assumenda iure dolorum laboriosam quaerat et sit! Rem molestias beatae, repudiandae esse porro tempore ut vel perspiciatis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A minus, fugit illo eius iure exercitationem repudiandae doloribus facere aut inventore, fugiat deserunt non autem eligendi nam vel porro rerum sit!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati tempora, aliquam perferendis reprehenderit maxime possimus veritatis voluptate aperiam voluptatibus illum aliquid ab ipsum consequuntur eligendi vero laudantium magnam, iure minima.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio facere recusandae vero distinctio fugit possimus rerum illo rem id. Facilis neque fuga accusamus vero iste dignissimos, quos culpa omnis odit?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam illum laborum incidunt aliquid voluptate. Ut dolore exercitationem magni incidunt? Culpa dignissimos amet molestiae fugit ducimus expedita beatae omnis quae eveniet?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam fuga nam voluptate eum similique praesentium veritatis enim ipsam atque hic odit, numquam adipisci deleniti sed maxime animi minima necessitatibus asperiores?
      </div>
    </div>
  </div>

