<!-- Header Component -->
<app-header></app-header>

<!-- Dropdown con Z-index alto per sovrapporsi ai carousel -->
<app-dropdown-series style="position: relative; z-index: 1050;"></app-dropdown-series>

<!-- Carousel con Z-index inferiore -->
<app-cards-series style="position: relative; z-index: 1000; margin-top: 5px;"></app-cards-series>

<!--Slider orizzontale-->
<app-slider-orizzontale data-aos="fade-right" data-aos-delay="300"></app-slider-orizzontale>

<!--Footer-->
<app-footer></app-footer>
