<nav>
  <ul>
    <li><a routerLink="/" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/list" routerLinkActive="active">Prodotti</a></li>
    <li><a routerLink="/product" routerLinkActive="active">Dettagli Prodotto</a></li>
    <li><a routerLink="/profile" routerLinkActive="active">Profilo</a></li>
    <li><a routerLink="/registrazione" routerLinkActive="active">Registrazione</a></li>
    <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
    <li><a routerLink="/vendita" routerLinkActive="active">Vendita</a></li>
    <li><a routerLink="/chat" routerLinkActive="active">Chat</a></li>
    <li><a routerLink="/admin" routerLinkActive="active">Admin</a></li>
    <li><a routerLink="/controller" routerLinkActive="active">Controller UI</a></li>
    <li><a routerLink="/transizioni" routerLinkActive="active">Transizioni</a></li>
    <li><a routerLink="/delivery" routerLinkActive="active">Consegna</a></li>
  </ul>
</nav>

<!-- Spazio per le route -->
<router-outlet></router-outlet>
