<nav aria-label="Page navigation" class="d-flex justify-content-center align-items-center mt-4">
  <ul class="pagination">
    <!-- Pulsante Precedente -->
    <li class="page-item" [ngClass]="{'disabled': currentPage === 0}">
      <a class="page-link" href="#" (click)="changePage(currentPage - 1)">Precedente</a>
    </li>

    <!-- Numeri di pagina -->
    <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
        [ngClass]="{'active': i === currentPage}">
      <a class="page-link" href="#" (click)="changePage(i)">{{ i + 1 }}</a>
    </li>

    <!-- Pulsante Successivo -->
    <li class="page-item" [ngClass]="{'disabled': currentPage === totalPages - 1}">
      <a class="page-link" href="#" (click)="changePage(currentPage + 1)">Successivo</a>
    </li>
  </ul>
</nav>
