<!--Header-->
<app-header></app-header>

<!--Dropdowns-->
<app-dropdown-series style="z-index: 2; position: relative;"></app-dropdown-series>

<!--Introduction product-->
<app-introduction-product style="z-index: 1; position: relative;"></app-introduction-product>

<!--Description-->
<app-description></app-description>

<!--Technical data-->
<app-scheda-tecnica></app-scheda-tecnica>

<!--Azienda-->
<app-azienda></app-azienda>

<!--Slider orizzontale-->
<app-slider-orizzontale></app-slider-orizzontale>

<!--Domande e risposte-->
<app-domande-risposte></app-domande-risposte>

<!--Reviews-->
<app-reviews></app-reviews>

<!--Footer-->
<app-footer></app-footer>
